<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/home}">
        Back to product list
    </a>
</p>
<form th:action="@{/home/save}" method="post" th:object="${blog}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label> author</label>
        <input type="text" th:field="*{author}">
    </div>
    <div>
        <label> content</label>
        <input type="text" th:field="*{content}">
    </div>
    <div>
        <label> dateOfWriting</label>
        <input type="text" th:field="*{dateOfWriting}">
    </div>
    <div>
        <lable>Category Name</lable>
        <select th:field="*{category}">
            <option th:each="item : ${categoryList}" th:value="${item.id}" th:text="${item.nameCategory}"></option>
        </select>
    </div>
    <div>
        <lable>Admin Name:</lable>
        <input type="checkbox" th:field="*{adminList}" th:each="item : ${admin}" th:text="${item.nameAdmin}" th:value="${item.id}"/>
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>