<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<p>
    <a th:href="@{/home}">
        Back to product list
    </a>
</p>
<form th:action="@{/home/remove}" method="post" th:object="${blog}">
    <input type="hidden" th:field="*{id}">
    <div>
        <lable>author</lable>
        <input type="text" th:field="*{author}">
    </div>
    <div>
        <lable>content</lable>
        <input type="number" th:field="*{content}">
    </div>
    <div>
        <lable>dateOfWriting</lable>
        <input type="text" th:field="*{dateOfWriting}">
    </div>
    <input type="submit" value="Delete">
</form>
</body>
</html>