<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout :: head">
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<form th:action="@{/product/save}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label> Name</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label> Price</label>
        <input type="text" th:field="*{price}">
    </div>
    <div>
        <label> Company</label>
        <input type="text" th:field="*{company}">
    </div>
    <input type="submit" value="Save">
</form>
<footer th:replace="/product/layout :: footer"></footer>
</body>
</html>