<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout :: head">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<form th:action="@{/product/update}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}">
    <div>
        <lable>Name</lable>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <lable>Price</lable>
        <input type="number" th:field="*{price}">
    </div>
    <div>
        <lable>Company</lable>
        <input type="text" th:field="*{company}">
    </div>
    <input type="submit" value="Edit">
</form>
<footer th:replace="/product/layout :: footer"></footer>
</body>
</html>