<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">HE HE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" th:href="@{customer/create}">Add
                            App Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form action="/customer">
                    <input style="width: 20%" type="text" name="nameSearch" placeholder="Name">
                    <input style="width: 20%" type="text" name="email" placeholder="Email">

                    <select style="width: 20%" th:name="customerType">
                        <option  value="" selected>Choose Something</option>
                        <option th:each="item : ${customerTypeList}" th:value="${item.name}" th:text="${item.name}"></option>
                    </select>

                    <input type="submit" value="Search" style="width: 10%">
                </form>
            </div>
        </div>
    </nav>
</div>
<div>
    <p><a th:text="${mess}"></a></p>
    <p><a th:text="${messageUpdate}"></a></p>
    <p><a th:text="${messDelete}"></a></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>IdCard</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Name Customer Type</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${customerList}">
            <td th:text="${row.getId()}"></td>
            <td th:text="${row.getName()}"></td>
            <td th:text="${row.getDateOfBirth()}"></td>
            <td th:text="${row.getGender()}"></td>
            <td th:text="${row.getIdCard()}"></td>
            <td th:text="${row.getPhoneNumber()}"></td>
            <td th:text="${row.getEmail()}"></td>
            <td th:text="${row.getAddress()}"></td>
            <td th:text="${row.customerTypeList.getName()}"></td>
            <td>
                <a type="button" class="btn btn-primary" th:href="@{/customer/{id}/edit(id=${row.getId()})}">Edit</a>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#deleteModal" th:attr="onclick=|infoDelete('${row.id}', '${row.name}')|">
                    Delete
                </button>
            </td>
            <td>
                <a type="button" class="btn btn-primary" th:href="@{/customer/{id}/view(id=${row.getId()})}">View</a>
            </td>
        </tr>
        </tbody>
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Customer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Are you sure you want to delete <span style="color: red" id="nameDelete"></span>?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form action="/customer/delete">
                            <input type="text" name="delete" id="id" hidden>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </table>
</div>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"  th:href="@{'/customer'(page=${customerList.number - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" th:href="@{'/customer'(page=0)}">1</a></li>
            <li class="page-item"><a class="page-link" th:href="@{'/customer'(page=1)}">2</a></li>
            <li class="page-item"><a class="page-link" th:href="@{'/customer'(page=2)}">3</a></li>
            <li class="page-item">
                <a class="page-link" th:href="@{'/customer'(page=${customerList.number + 1})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<script>
    function infoDelete(id, name) {
        document.getElementById("nameDelete").innerText = name;
        document.getElementById("id").value = id;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>