<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Form</title>
</head>
<body>
<form  th:action="@{/user/save}" th:object="${userDto}" method="post">
    <div>
        <lable>First Name</lable>
        <input type="text" th:field="*{firstName}">
        <p style="color: red" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></p>
    </div>
    <div>
        <lable>Last Name</lable>
        <input type="text" th:field="*{lastName}">
        <p style="color: red" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></p>
    </div>
    <div>
        <lable>Age</lable>
        <input type="text" th:field="*{age}">
        <p style="color: red" th:errors="*{age}" th:if="${#fields.hasErrors('age')}"></p>
    </div>
    <div>
        <lable>Email</lable>
        <input type="text" th:field="*{email}">
        <p style="color: red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>